.profileWrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    width: 250px;
    overflow: hidden;
    margin: 0 auto 40px auto;
}
.profileInfoWrapper{
    padding: 15px;
}
.profileImg{
    width: 100px;
    border-radius: 100%;
    background-color: black;
}
.profileName{
font-weight: 700;
font-size: large;
color: black;
margin-bottom: 10px;
}
.profileTag{
    margin-bottom: 5px;
}
.profileTag,
.profileLocation{
color: grey;
}
.profileList{
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.profileListItem{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 211, 211);
}
.profileListItem:first-child,
.profileListItem:last-child {
    border-left: none;
    border-right: none;
}
.spanData{
    font-weight: 700;
    font-size: large;
}

