.list{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px auto;
    padding: 0;
}
.item{
    display: flex;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    width: 83px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.itemName{
    font-weight: 600;
    font-size: large;
}
.online{
    color: green;
}
.offline{
    color: red;
}