table {
    border-collapse: collapse;
    width: 100%;
}
table thead{
    background-color: black;
}
table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
tr:nth-child(even){
background-color: gray;
}

